Alfredo Abraham <a.abrahamschussler@uandresbello.edu>
Felipe Gutiérrez Castro <felipe.i.gutierrez.castro@gmail.com>
Cristian Vasquez <cristian2779@gmail.com>
Rolando Donoso <r.donosoguerra@uandresbello.edu> Rolando Donoso <131834932+rdonosoguerra94@users.noreply.github.com>
